  <div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
      <i class="fa fa-cog py-2"> </i>
    </a>
    <div class="card shadow-lg ">
      <div class="card-header pb-0 pt-3 ">
        <div class="float-start">
          <h5 class="mt-3 mb-0">TAUadvisor</h5>
          <p>crowdsourcing project - spring 2022 </p>
        </div>
        <div class="float-end mt-4">
          <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
            <i class="fa fa-close"></i>
          </button>
        </div>
        <!-- End Toggle Button -->
      </div>
      <hr class="horizontal dark my-1">
      <div class="card-body pt-sm-3 pt-0">
        <!-- Sidebar Backgrounds -->
        <!-- Sidenav Type -->
        <div class="mt-3">
          <h6 class="mb-0">our goal</h6>
          <p class="text-sm">Using crowdsourcing to make life easier for students. you can find a credit-count on your personal profile page, course rating under specific search and personalized analytics on the for-you page.
          </p>
        </div>
        <!-- Navbar Fixed -->
        <div class="card-body pt-sm-3 pt-0">
        <div class="mt-3">
          <h6 class="mb-0">Guided by Slava Novgorodov, Kathy Razmadze</h6>
        </div>
        </div>
      </div>
    </div>
  </div>
