  
  <footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
        </div>
        <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
        </div>
      </div>
      <div class="row">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
            &copy; <a href="https://github.com/arielireni/TAU-crowd-sourcing-workshop" target="_blank">Creative-Team</a> - coded by Ariel, Itay, Yoni and Lee.
          </p>
        </div>
      </div>
    </div>
  </footer>
  