{% extends 'layouts/base.html' %}

{% block title %} For-You {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-md-7 mt-4">
                <div class="card">
                    <div class="card-header pb-0 px-3">
                        <h6 class="mb-0">Give these a try! </h6>
                    </div>
                    <div class="card-body pt-4 p-3">
                        <ul class="list-group">
                            {% for i in range(courses|length) %}
                                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                    <div class="d-flex flex-column">
                                        <a href="course={{ courses[i][0].id }}"> <h6 class="mb-3 text-sm">{{ courses[i][0] }}</h6> </a>
                                        <span class="mb-2 text-xs">This course has an average rating of {{ courses[i][1]/courses[i][2] }} among students like you.</span>
                                        <span class="mb-2 text-xs">Email Address: <span
                                                class="text-dark ms-sm-2 font-weight-bold">first</span></span>
                                        <span class="text-xs">VAT Number: <span
                                                class="text-dark ms-sm-2 font-weight-bold">first</span></span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
