{% extends 'layouts/base-game.html' %}

{% block title %} Game {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h1 style="color: #5e9ca0; text-align: center; margin-bottom: 25px ">Let's Play!</h1>
                        <h6 style="text-align: center" id="instructions">Play & rate courses you have finished in order
                            to gain credits and get better personalized recommendations!</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">

                            <table class="table align-items-center mb-0">
                                <head>
                                    <meta charset="UTF-8">
                                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                                    <title>Document</title>
                                    <style>
                                        canvas {
                                            background-image: url("../../static/assets/img/game/AreYouReady2.PNG");
                                            background-color: white;
                                            height: 65%;
                                            width: 65%;
                                            display: flex;
                                            padding: 0;
                                            margin: auto;
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                        }
                                    </style>
                                </head>
                                <body>
                                {% if courses|length == 0 %}
                                    <h6 style="text-align: center; color:blue">According to our records, you don't have any courses left that you have completed and have not rated.
                                    <br> To unlock this feature, you must complete additional courses.</h6>
                                {% else %}
                                    <form id="submitCourse" method="post" style="text-align: center">
                                        <p style="text-align: center">
                                            <select name="course" id="course" aria-label="Default select example"
                                                    style="text-align: center">
                                                {% for course in courses %}
                                                    <option value="{{ course.name }}">{{ course.name }}</option>
                                                {% endfor %}

                                            </select>
                                        </p>
                                    </form>
                                    <p style="text-align: center">
                                        <button onclick="game()" class="btn btn-primary pull-right btn-lg"
                                                id="startGameButton">start
                                        </button>
                                    </p>
                                {% endif %}
                                <h5 id="question-area" style="color: #3498DB; text-align: center"></h5>
                                <p></p>
                                <canvas id="game-area" style="text-align: center"></canvas>
                                </body>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script>

        // Declaration of required global variables.
        let width, height, fps, tileSize, canvas, ctx, interval;
        let snake;
        let food, food1, food2, food3, food4, food5;
        let score;
        let isPaused, isPaused2;

        let doneRating = false;
        let ratings = new Map();
        let overallRating = 0;

        let numQuestions = {{ num_questions }} +1;
        let currIndex = 0;
        let questions = [];
        let ids = [];

        // Initialize questions list by the given data
        {% for question in questions %}
            ids.push({{ question.id }});
            questions.push('{{ question.q_str }}');
        {% endfor %}

        // For every course, ask also for overall rating
        ids.push(numQuestions);
        questions.push('Overall rating for this course')

        let select = document.getElementById('course');
        let courseName = select.options[select.selectedIndex].value;

        function startGame() {
            // Loading the browser window
            window.addEventListener("load", function () {
                game();
            });

            // Adding an event listener for key presses.
            window.addEventListener("keydown", function (evt) {
                if (evt.key === " ") {
                    evt.preventDefault();
                    isPaused = !isPaused;
                    showPaused();
                } else if (evt.key === "ArrowUp") {
                    evt.preventDefault();
                    if (snake.velY !== 1 && snake.x >= 0 && snake.x <= width && snake.y >= 0 && snake.y <= height)
                        snake.dir(0, -1);
                } else if (evt.key === "ArrowDown") {
                    evt.preventDefault();
                    if (snake.velY !== -1 && snake.x >= 0 && snake.x <= width && snake.y >= 0 && snake.y <= height)
                        snake.dir(0, 1);
                } else if (evt.key === "ArrowLeft") {
                    evt.preventDefault();
                    if (snake.velX !== 1 && snake.x >= 0 && snake.x <= width && snake.y >= 0 && snake.y <= height)
                        snake.dir(-1, 0);
                } else if (evt.key === "ArrowRight") {
                    evt.preventDefault();
                    if (snake.velX !== -1 && snake.x >= 0 && snake.x <= width && snake.y >= 0 && snake.y <= height)
                        snake.dir(1, 0);
                }
            });
        }

        // Determining a random spawn location on the grid.
        function spawnLocation() {
            // Breaking the entire canvas into a grid of tiles.
            let rows = width / tileSize;
            let cols = height / tileSize;

            let xPos, yPos;
            xPos = Math.floor(Math.random() * rows) * tileSize;
            yPos = Math.floor(Math.random() * cols) * tileSize;

            // Avoid placing food near the game frame
            if (xPos < 100) {
                xPos += 100;
            } else if (xPos > width - 100) {
                xPos -= 100;
            }
            if (yPos < 100) {
                yPos += 100;
            } else if (yPos > height - 100) {
                yPos -= 100;
            }

            return {x: xPos, y: yPos};
        }

        // Showing the score of the player.
        function showScore() {
            ctx.textAlign = "center";
            ctx.font = "bold 35px sans-serif";
            ctx.fillStyle = "black";
            ctx.fillText("SCORE: " + score, width - 120, 40);
        }

        // Expose the next question on the screen instead of the current one
        function showNextQuestion() {
            if (currIndex < numQuestions) {
                document.getElementById("question-area").innerText = questions[currIndex]
            }
        }

        // Showing if the game is paused.
        function showPaused() {
            ctx.textAlign = "center";
            ctx.font = "35px Arial";
            ctx.fillStyle = "white";
            ctx.fillText("PAUSED", width / 2, height / 2);
        }

        // Treating the snake as an object.
        class Snake {
            // Initialization of object properties.
            constructor(pos, color) {
                this.x = pos.x;
                this.y = pos.y;
                this.tail = [{x: pos.x - tileSize, y: pos.y}, {x: pos.x - tileSize * 2, y: pos.y}];
                this.velX = 1;
                this.velY = 0;
                this.color = color;
            }

            // Drawing the snake on the canvas.
            draw() {
                // Drawing the head of the snake.
                ctx.beginPath();
                ctx.rect(this.x, this.y, tileSize, tileSize);
                ctx.fillStyle = this.color;
                ctx.fill();
                ctx.strokeStyle = "black";
                ctx.lineWidth = 3;
                ctx.stroke();
                ctx.closePath();

                // Drawing the tail of the snake.
                for (let i = 0; i < this.tail.length; i++) {
                    ctx.beginPath();
                    ctx.rect(this.tail[i].x, this.tail[i].y, tileSize, tileSize);
                    ctx.fillStyle = this.color;
                    ctx.fill();
                    ctx.strokeStyle = "black";
                    ctx.lineWidth = 3;
                    ctx.stroke();
                    ctx.closePath();
                }
            }

            // Moving the snake by updating position.
            move() {
                // Movement of the tail.
                for (let i = this.tail.length - 1; i > 0; i--) {
                    this.tail[i] = this.tail[i - 1];
                }

                // Updating the start of the tail to acquire the position of head.
                if (this.tail.length !== 0)
                    this.tail[0] = {x: this.x, y: this.y};

                // Movement of the head.
                this.x += this.velX * tileSize;
                this.y += this.velY * tileSize;
            }

            // Changing the direction of movement of the snake.
            dir(dirX, dirY) {
                this.velX = dirX;
                this.velY = dirY;
            }

            // Update the rate of questions[currIndex] by the user's rating
            updateRating(rate) {
                if (doneRating) {
                    return;
                }

                if (currIndex < numQuestions) {
                    ratings.set(ids[currIndex], rate);
                    currIndex++;
                }

                if (currIndex === numQuestions) {
                    doneRating = true;
                    document.getElementById("question-area").innerText = "Thank you for rating " + courseName + ". Your rating will be submitted once the game is over.";
                }
            }

            // Determining whether the snake has eaten a piece of food.
            eat() {
                if (doneRating) {
                    if ((Math.abs(this.x - food.x) < 40 && Math.abs(this.y - food.y) < 40)) {
                        // Adding to the tail.
                        this.tail.push({});
                        return true;
                    } else return false;
                } else {
                    if ((Math.abs(this.x - food1.x) < 40 && Math.abs(this.y - food1.y) < 40)) {
                        this.updateRating(1);
                    } else if ((Math.abs(this.x - food2.x) < 40 && Math.abs(this.y - food2.y) < 40)) {
                        this.updateRating(2);
                    } else if ((Math.abs(this.x - food3.x) < 40 && Math.abs(this.y - food3.y) < 40)) {
                        this.updateRating(3);
                    } else if ((Math.abs(this.x - food4.x) < 40 && Math.abs(this.y - food4.y) < 40)) {
                        this.updateRating(4);
                    } else if ((Math.abs(this.x - food5.x) < 40 && Math.abs(this.y - food5.y) < 40)) {
                        this.updateRating(5);
                    } else {
                        return false;
                    }
                }

                // Adding to the tail.
                this.tail.push({});

                return true;
            }

            // Checking if the snake has died.
            die() {
                // Snake can't die if the user didn't finish rating
                if (!doneRating) {
                    return false;
                }

                for (let i = 0; i < this.tail.length; i++) {
                    if (Math.abs(this.x - this.tail[i].x) < tileSize && Math.abs(this.y - this.tail[i].y) < tileSize) {
                        return true;
                    }
                }

                return false;
            }

            border() {
                if (this.x + tileSize > width && this.velX !== -1 || this.x < 0 && this.velX !== 1)
                    this.x = width - this.x;
                else if (this.y + tileSize > height && this.velY !== -1 || this.velY !== 1 && this.y < 0)
                    this.y = height - this.y;
            }
        }

        // Treating the food as an object.
        class Food {

            // Initialization of object properties.
            constructor(id, pos) {
                this.id = id
                this.x = pos.x;
                this.y = pos.y;
            }

            // Drawing the food on the canvas.
            draw() {
                isPaused = true;
                ctx.beginPath();
                if (this.id === 0) {
                    // Draw a simple red circle
                    ctx.arc(this.x, this.y, 20, 0, 2 * Math.PI);
                    ctx.fillStyle = "red"
                    ctx.fill()
                } else {
                    // Draw a circle with the food id written in it
                    ctx.font = "bold 30px Arial";
                    ctx.arc(this.x, this.y, 20, 0, 2 * Math.PI);
                    ctx.fillStyle = "white"
                    ctx.fill()
                    ctx.fillStyle = "black"
                    ctx.fillText(this.id, this.x, this.y + 10);
                }
                ctx.strokeStyle = "black";
                ctx.lineWidth = 3;
                ctx.stroke();
                ctx.closePath();
                isPaused = false;
            }

            delete() {
                ctx.beginPath();
                ctx.closePath();
            }
        }

        // Initialization of the game objects.
        function init() {

            tileSize = 20;

            // Dynamically controlling the size of canvas.
            width = tileSize * Math.floor(window.innerWidth / tileSize);
            height = tileSize * Math.floor(window.innerHeight / tileSize);
            fps = 10;

            canvas = document.getElementById("game-area");
            canvas.width = width;
            canvas.height = height;
            ctx = canvas.getContext("2d");

            isPaused = false;
            score = 0;
            snake = new Snake({
                x: tileSize * Math.floor(width / (2 * tileSize)),
                y: tileSize * Math.floor(height / (2 * tileSize))
            }, "#39ff14");
            food1 = new Food(1, spawnLocation());
            food2 = new Food(2, spawnLocation());
            food3 = new Food(3, spawnLocation());
            food4 = new Food(4, spawnLocation());
            food5 = new Food(5, spawnLocation());
        }

        // Updating the position and redrawing of game objects.
        function update() {
            // Checking if game is paused.
            if (isPaused || isPaused2) {
                return;
            }
            isPaused2 = true;
            snake.border();

            if (snake.eat()) {
                score += 10;
                if (doneRating) {
                    food = new Food(0, spawnLocation());
                } else {
                    food1 = new Food(1, spawnLocation());
                    food2 = new Food(2, spawnLocation());
                    food3 = new Food(3, spawnLocation());
                    food4 = new Food(4, spawnLocation());
                    food5 = new Food(5, spawnLocation());
                }
            }
            // Clearing the canvas for redrawing.
            ctx.clearRect(0, 0, width, height);

            if (snake.die()) {
                clearInterval(interval);
                sendGameDetails();
                window.location.href = "/high-scores.html"
            } else {
                if (doneRating) {
                    food.draw();
                } else {
                    food1.draw();
                    food2.draw();
                    food3.draw();
                    food4.draw();
                    food5.draw();
                    showNextQuestion();
                }
                snake.draw();
                snake.move();
                showScore();
            }
            isPaused2 = false;
        }

        // The actual game function.
        function game() {
            // Remove course selection from the screen
            const selectElement = document.getElementById("course");
            courseName = select.options[select.selectedIndex].value;
            selectElement.remove();

            // Remove start button from the screen
            const buttonElement = document.getElementById("startGameButton");
            buttonElement.remove();

            const instruction_sentence = document.getElementById("instructions");
            instruction_sentence.remove();

            // Expose the game to the screen
            const gameAreaElement = document.getElementById("game-area");
            gameAreaElement.style.background = "url(../../static/assets/img/game/background.jpeg)";
            gameAreaElement.display = "flex";
            gameAreaElement.style.backgroundSize = "cover";

            startGame()
            init();

            interval = setInterval(update, 1000 / fps);
        }

        function sendGameDetails() {
            localStorage.setItem("userScore", score);

            // Initialize details with the user's ratings
            const details = new Map(ratings);
            details.set("selectedCourse", courseName);
            // Add the game score to details
            details.set("gameScore", score);
            // Send the data
            const request = new XMLHttpRequest();
            request.open('POST', `/get_game_details/${JSON.stringify(details)}`, false);
            request.onload = () => {
                const flaskMessage = request.responseText;
                console.log(flaskMessage);
            }
            request.send();

        }

    </script>
{% endblock javascripts %}
