{% extends 'layouts/base.html' %}

{% block title %} High-Scores {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-md-7 mt-4">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="row">
                            <h2 style="color: #800020; margin-bottom: 3%; text-align: center"> <b>Game Over!</b> </h2>
                            <h6 style="margin-bottom: 3%; text-align: center">&#8226; Your score was: {{ user_score }}</h6>
                            <p style="text-align:center;">
                            <img src="/static/assets/img/game/gif.gif" class=center style="width:120px;height:120px;">
                            </p>
                            <p class="big"></p>
                        </div>
                        <div>
                            <h3 style="color: #5e9ca0; margin-bottom: 3%; text-align: center">HighScores</h3>
                        </div>
                    </div>

                    <div class="card-body pt-4 p-3">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">User</th>
                                <th scope="col">Score</th>
                            </tr>
                            <tbody>
                            {% for i in range(best_scores|length) %}
                                <tr>
                                    <th scope="row">{{ i + 1 }}</th>
                                    <td> {{ best_scores[best_scores|length - 1 - i].username }} </td>
                                    <td> {{ best_scores[best_scores|length - 1 - i].best_score }} </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            </thead>
                        </table>
                    </div>
                    <div style="text-align: center">
                        <button type="button" onclick="window.location.href='game.html'" class="btn btn-primary mb1 bg-teal">Back to Game</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
