{% extends 'layouts/base.html' %}

{% block title %} Search {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
    <body style="overflow-x: hidden">
    <div class="container-fluid py-4">
        <div class="row my-4">
            <div class="col my-4">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="row">
                            <h1 style="color: #5e9ca0; margin-bottom: 3%; text-align: center">Search Engine</h1>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <ul class="flashes">
                                        {% for message in messages %}
                                            <div style="text-align: center;">
                                            <span style="color:blue">{{ message }}</span>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endwith %}

                            <form method="post">
                                <div style="text-align: center">
                                    <select name="category" aria-label="Default select example">
                                        <option selected>Course</option>
                                        <option value="Lecturer">Lecturer</option>
                                        {#                                        <option value="Course Number">Course Number</option>#}
                                    </select>
                                </div>
                                <br>
                                <div style="text-align: center">
                                    <input name="search_string" style="width: 16%" type="text"
                                           placeholder="Any">
                                </div>
                                <br>
                                <br>

                                <div class="shadow-lg p-3 mb-5 bg-body rounded"
                                     style="overflow-x: hidden; width: 100%; text-align: center">
                                    <div class="row gx-5" style="overflow-x: hidden; width: 100%; text-align: center">
                                        <p style=" text-align: center; ">Pick features to sort the results by:</p>
                                        {% for q in questions %}
                                            <div style="width: {{ 100 / questions | length }}%">
                                                <div class="col my-4">
                                                    <h6>{{ q.feature }}</h6>
                                                    <select name="question-{{ q.id }}"
                                                            aria-label="Default select example">
                                                        <option selected>Any</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                                <br>
                                <div style="text-align: center">

                                    <button type="submit" class="btn btn-primary mb1 bg-teal">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% include "includes/footer.html" %}

        </div>
    </div>
    </body>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %} {% endblock javascripts %}
